.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93.2vh;
    line-height: 80%;
    width: 100%;
    z-index: 2;
}

.logo img {
    width: 50px;
    padding: 0 0.5em;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 7;
    padding: 0 3em;
}

.about p {
    width: 50%;
}

article {
    width: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 8;
    padding: 0 3em;
    width: 50%;
}

.projects img {
    width: 600px;
}

.project {
    padding: 2em 0;
}